NEXT_PUBLIC_APP_NAME=SoTrade
NEXT_PUBLIC_APP_URL=http://localhost:3000

# SoSoValue
SOSOVALUE_API_KEY=
SOSOVALUE_API_BASE_URL=https://api.sosovalue.xyz

# SoDEX
SODEX_ENV=testnet
SODEX_SPOT_REST_URL=https://testnet-gw.sodex.dev/api/v1/spot
SODEX_PERPS_REST_URL=https://testnet-gw.sodex.dev/api/v1/perps
SODEX_SPOT_WS_URL=wss://testnet-gw.sodex.dev/ws/spot
SODEX_PERPS_WS_URL=wss://testnet-gw.sodex.dev/ws/perps
SODEX_ACCOUNT_ID=
SODEX_API_WALLET_ADDRESS=
SODEX_PRIVATE_KEY=

# App
DATABASE_URL=
NEXTAUTH_SECRET=
